In [157]:
#import 
import pandas as pd
import os
os.chdir('/Volumes/Godfrey/Berea Simulation results/ZLR2LDSDNew')
psn = open('test.psn')
widths = [20,20,20,]
df_psn = pd.read_fwf(psn, widths=widths)
import numpy as np

In [69]:
df_psn.head()

        PoreSim    Unnamed: 1    Unnamed: 2
0          HEAD           NaN           NaN
1          ends           NaN           NaN
2          DSIZ           NaN           NaN
3  0.947600E-01  0.947600E-01  0.997040E-01
4          ends           NaN           NaN

In [147]:
df_psn['Unnamed: 2']

0                         NaN
1                         NaN
2                         NaN
3                0.997040E-01
4                         NaN
5                         NaN
6                         NaN
7                0.203939E-13
8                0.206000E-03
9                0.582389E-03
10               0.504507E-08
11               0.442055E-04
12               0.215836E-02
13               0.442055E-04
14               0.442055E-04
15               0.381898E-13
16               0.584342E-08
17               0.265982E-04
18               0.326555E-13
19               0.442055E-04
20               0.442055E-04
21               0.417218E-16
22               0.442055E-04
23               0.554470E-03
24               0.546638E-13
25               0.301113E-10
26               0.442055E-04
27               0.561308E-03
28               0.199349E-13
29               0.755120E-04
                 ...
55518    0.000000E+00    0.00
55519    0.609760E-03    0.22
55520    0.412000E-03    0.64
55521    0.824000E-03    0.30
55522    0.412000E-03    0.17
55523    0.782859E-03    0.15
55524    0.151149E-02    0.12
55525    0.143931E-02    0.75
55526    0.151991E-02    0.86
55527    0.609760E-03    0.32
55528    0.164800E-02    0.11
55529    0.115364E-02    0.36
55530    0.000000E+00    0.00
55531    0.000000E+00    0.00
55532    0.123600E-02    0.81
55533    0.000000E+00    0.00
55534    0.618000E-03    0.68
55535    0.000000E+00    0.00
55536    0.609760E-03    0.33
55537    0.618000E-03    0.69
55538    0.000000E+00    0.00
55539    0.000000E+00    0.00
55540    0.609760E-03    0.30
55541    0.000000E+00    0.00
55542    0.000000E+00    0.00
55543    0.412000E-03    0.73
55544    0.000000E+00    0.00
55545    0.609760E-03    0.33
55546                     NaN
55547                     NaN
Name: Unnamed: 2, Length: 55548, dtype: object

In [158]:
Unnamed_2 = df_psn['Unnamed: 2'].str.split(expand=True).add_prefix('Unnamed: 2_')

In [159]:
df_psn = pd.concat([df_psn[['PoreSim']], Unnamed_2], 1)

In [161]:
df_psn['Unnamed: 2_0']

0                 NaN
1                 NaN
2                 NaN
3        0.997040E-01
4                 NaN
5                 NaN
6                 NaN
7        0.203939E-13
8        0.206000E-03
9        0.582389E-03
10       0.504507E-08
11       0.442055E-04
12       0.215836E-02
13       0.442055E-04
14       0.442055E-04
15       0.381898E-13
16       0.584342E-08
17       0.265982E-04
18       0.326555E-13
19       0.442055E-04
20       0.442055E-04
21       0.417218E-16
22       0.442055E-04
23       0.554470E-03
24       0.546638E-13
25       0.301113E-10
26       0.442055E-04
27       0.561308E-03
28       0.199349E-13
29       0.755120E-04
             ...
55518    0.000000E+00
55519    0.609760E-03
55520    0.412000E-03
55521    0.824000E-03
55522    0.412000E-03
55523    0.782859E-03
55524    0.151149E-02
55525    0.143931E-02
55526    0.151991E-02
55527    0.609760E-03
55528    0.164800E-02
55529    0.115364E-02
55530    0.000000E+00
55531    0.000000E+00
55532    0.123600E-02
55533    0.000000E+00
55534    0.618000E-03
55535    0.000000E+00
55536    0.609760E-03
55537    0.618000E-03
55538    0.000000E+00
55539    0.000000E+00
55540    0.609760E-03
55541    0.000000E+00
55542    0.000000E+00
55543    0.412000E-03
55544    0.000000E+00
55545    0.609760E-03
55546             NaN
55547             NaN
Name: Unnamed: 2_0, Length: 55548, dtype: object

In [149]:
TDAT = df_psn.loc[df_psn['PoreSim']=='TDAT'].index[0]

In [150]:
ENDF = df_psn.loc[df_psn['PoreSim']=='ENDF'].index[0]

In [151]:
df_TDAT = df_psn[TDAT+2:ENDF-1]

In [153]:
df_TDAT.head()

            PoreSim    Unnamed: 1            Unnamed: 2
35273  0.000000E+00  0.275240E-05  0.666630E-03    0.00
35274  0.000000E+00  0.000000E+00  0.497328E-03    0.00
35275  0.379559E-06  0.162304E-05  0.609760E-03    0.30
35276  0.796170E-06  0.187389E-05  0.618000E-03    0.75
35277  0.796170E-06  0.187389E-05  0.618000E-03    0.75

In [134]:
df_TDAT.shape

(20273, 3)

In [154]:
m=df_TDAT['Unnamed: 2']
m=pd.DataFrame(m)

for col in m:
   m[col] = pd.to_numeric(m[col], errors='coerce')

In [155]:
m.astype(bool).sum(axis=0)  # replace insert in last line of next cell with number of m

Unnamed: 2    20273
dtype: int64

In [138]:
count = 0
Sum = 0.0
for i in m:
    count = count + 1
    Sum  = Sum + i
print('Number of throats: \n', count)
print('Sum of throat radii: \n', Sum)
print('Average throat radius in microns: \n', 10000*(Sum/19124))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [118]:
m=df_TDAT['PoreSim']
m=pd.DataFrame(m)

In [126]:
for col in m:
   m[col] = pd.to_numeric(m[col], errors='coerce')

In [141]:
m.head()

            PoreSim
35273  0.000000e+00
35274  0.000000e+00
35275  3.795590e-07
35276  7.961700e-07
35277  7.961700e-07

In [139]:
num=m.astype(bool).sum(axis=0)

In [140]:
print(m)

            PoreSim
35273  0.000000e+00
35274  0.000000e+00
35275  3.795590e-07
35276  7.961700e-07
35277  7.961700e-07
35278  0.000000e+00
35279  3.795590e-07
35280  2.400540e-07
35281  6.120210e-07
35282  0.000000e+00
35283  3.795590e-07
35284  0.000000e+00
35285  2.940050e-07
35286  1.697440e-07
35287  7.201630e-07
35288  0.000000e+00
35289  2.015600e-06
35290  0.000000e+00
35291  1.527700e-06
35292  1.527700e-06
35293  0.000000e+00
35294  2.213190e-06
35295  0.000000e+00
35296  1.979540e-06
35297  0.000000e+00
35298  2.400540e-07
35299  2.400540e-07
35300  0.000000e+00
35301  1.281540e-06
35302  1.697440e-07
...             ...
55516  3.795590e-07
55517  7.398970e-07
55518  0.000000e+00
55519  3.795590e-07
55520  1.697440e-07
55521  5.201480e-06
55522  0.000000e+00
55523  3.060100e-06
55524  1.404980e-05
55525  7.587390e-06
55526  6.682830e-06
55527  9.751050e-07
55528  7.526380e-06
55529  3.863310e-06
55530  0.000000e+00
55531  0.000000e+00
55532  8.907920e-06
55533  0.000000e+00
55534  7.778650e-07
55535  0.000000e+00
55536  6.998720e-07
55537  7.591180e-07
55538  0.000000e+00
55539  0.000000e+00
55540  3.795590e-07
55541  0.000000e+00
55542  0.000000e+00
55543  2.940050e-07
55544  0.000000e+00
55545  6.120210e-07

[20273 rows x 1 columns]

In [142]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20273 entries, 35273 to 55545
Data columns (total 1 columns):
PoreSim    20273 non-null float64
dtypes: float64(1)
memory usage: 158.5 KB

In [ ]:
for i in m['PoreSim']:
    count

In [145]:
(m['PoreSim'].sum()/19124)*10000

0.02532282246914871